body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

@media (min-width: 768px)
  .navbar-right
    float right !important
    margin-right 0px !important

#edit,
#back
  float right

.form-horizontal
  overflow-x hidden

input[type='checkbox']:focus,
input[type='file']:focus
  outline none
  box-shadow none

#img-pic
  margin-top 20px
  width 300px

input[type='checkbox']
  box-shadow none
  outline none

#query
  min-width 210px !important

.search-img
  float right
  width 60px
  border-radius 5px


.page-avatar
  float left
  margin-right 50px
  width 200px
  border-radius 5px

.red-icon,
.red:hover
    color red

.yellow:hover
  color #FFBF5A

.green-icon,
.green:hover
  color #71D118

.blue:hover
  color #0000FF


.icon
  cursor pointer
  padding-left 10px
  color black

.container
  padding-bottom 10px



